In [ ]:
# SQL query via Pandas
df = pd.read_sql_query('SELECT * FROM Orders', engine)
# df   = pd.read_sql_table('my_table', engine, columns=['ColA', 'ColB'])

# INNER JOIN via SQL
df = pd.read_sql_query('SELECT OrderID, Name FROM Orders INNER JOIN Customers on Orders.CustID = Customers.CustID', engine)

In [ ]:
# SQL engine -- DIRECT -- Importing to df
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///Database.sqlite')
table_names = engine.table_names()
print (table_names)

connection = engine.connect()                                   # query = 'SELECT * FROM people'
results = connection.execute("SELECT * FROM Table")             # results = connection.execute(query1).fetchall()
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()

query2 = select([census])           # Also select


first_row = results[0]
print(first_row)
print(first_row.keys())
print(first_row.state)

In [ ]:
# SQL engine -- Context manager
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///Database.sqlite')

with engine.connect() as con:                                             # No need to Close()
    rs = con.execute("SELECT OrderID, OrderDate, ShipName FROM Orders")
    df = pd.DataFrame(rs.fetchmany(size=5))                               # fetch 5 rows
    df.columns = rs.keys()

In [ ]:
# METADATA
from sqlalchemy import create_engine, MetaData, Table
engine = create_engine('sqlite:///census.sqlite')

print(engine.table_names())                                                 # Print the table names
metadata = MetaData()                                                       # Select Metadata
census = Table('census', metadata, autoload=True, autoload_with=engine)     # Reflect census table via engine:
print(repr(census)                                                          # show table details
print(census.columns.keys())                                                # Print the column names
print(repr(metadata.tables['census']))                                      # Print full table metadata

In [ ]:
stmt = select([census])                                                    # Select * from census
stmt = stmt.where(census.column.state == 'CA')                             # where state == 'CA'
results = connection.execute(stmt).fetchall()
for result in results:
    print (result.state, result.age)

In [ ]:
# usr: student / pwd: datacamp
engine = create_engine('postgresql+psycopg2://student:datacamp@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census')
engine = create_engine('mysql+pymysql://student:datacamp@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/census')

In [ ]:
# Expressions
table.column.name.startswith('New')
in_() ; between() ; like()

In [ ]:
stmt = stmt.order_by(census.columns.state)         # order ascending
stmt.order_by(desc(table.columns.column_name))     # order descending

In [ ]:
# SQL Ordering
stmt = select([table.column.state, table.column.age])                   # Build a query to select state and age: stmt
stmt = stmt.order_by(table.column.state, desc(table.column.age))        # Append order by to ascend by state and descend by age
results = connection.execute(stmt).fetchall()                           # Execute the statement and store all the records
print(results[:20])                                                     # Print the first 20 results

In [ ]:
from sqlalchemy import func
stmt = select([func.sum(table.column.name)])
results = connection.execute(stmt).scalar()          #  getting just the value of a query that returns only one row and column

stmt = select([census.columns.age, census.columns.sex, func.sum(census.columns.pop2008))])
stmt = stmt.order_by(census.columns.sex, census.columns.age)

In [ ]:
# COUNT DISTINCT
stmt = select([func.count(census.columns.state.distinct())])   # Build a query to count the distinct states values
distinct_state_count = connection.execute(stmt).scalar()       # Execute the query and store the scalar result
print(distinct_state_count)                                    # Print the distinct_state_count

In [ ]:
# CALCULOS
stmt = select([census.columns.age, (census.columns.pop2008 - census.columns.pop2008).label('pop_change')])     # diff com label
stmt = stmt.group_by(census.columns.age)
stmt = stmt.order_by(desc('pop_change'))
stmt = stmt.limits(5)                                        # limits to TOP 5

In [ ]:
# CASE STATEMENT
from sqlalchemy import case
stmt = select([
    func.sum(
        case([
            (census.columns.state == 'New York',
             census.columns.pop2008)],
            else_=0)

In [ ]:
# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

In [ ]:
# Cast an expression to calculate total population in 2000 to Float
total_pop2000 = cast(func.sum(female_pop2000), Float)

<h3> JOIN Tables

In [ ]:
# JOIN TABLES
stmt = select([func.sum(census.columns.pop2000)])
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name)
stmt =  stmt.where(state_fact.columns.census_division_name == 'South Central')

In [ ]:
# Querying Hierarchical Data
managers = employees.alias()
stmt = select( [managers.columns.name.label('manager'), employees.columns.name.label('employees')]
stmt = stmt.select_from( employees.join( managers, managers.columns.id == employees.columns.manager)
stmt = stmt.order_by(managers.columns.name)

In [ ]:
from sqlalchemy import (Table, Column, String, Integer, Decimal, Boolean)
employees = Table('employees', metadata,
                  Column('id', Integer()),
                  Column('name', String(255), unique=True, nullable=False),
                  Column('Salary', Decimal(), default=100.00),
                  Column('active', Boolean(), default=True))

employees.constraints      # Check constraints
metadata.create_all(engine)
engine.table_names()

In [ ]:
# Insert Row
from sqlalchemy import insert
stmt = insert(employees).values(id=1, name='Jason', salary=1.00, active=True)
result_proxy = connection.execute(stmt)
print(result_proxy.rowcount)

In [ ]:
# Insert Multiple Rows
stmt = insert(employees)
values_list = [{'id': 2, 'name': 'Rebecca', 'salary': 2.00, 'active': True},
               {'id': 3, 'name': 'Bob', 'salary': 0.00, 'active': False}]
result_proxy = connection.execute(stmt, value_list)
print(result_proxy, rowcount)

In [ ]:
# Create a insert statement for census: stmt
stmt = insert(census)
values_list = []
total_rowcount = 0

for idx, row in enumerate(csv_reader):                                          # Enumerate the rows of csv_reader
    data = {'state': row[0], 'sex': row[1], 'age': row[2], 'pop2000': row[3],   #create data and append to values_list
            'pop2008': row[4]}
    values_list.append(data)
    
    
    if idx % 51 == 0:                                                            # Check to see if divisible by 51
        results = connection.execute(stmt, values_list)
        total_rowcount += results.rowcount
        values_list = []
        
print(total_rowcount)                                                            # Print total rowcount

In [ ]:
# Inserting Multiple Rows
from sqlalchemy import update
stmt = update(employees)
stmt = stmt.where(employees.columns.active == True)
stmt = stmt.values(active = False, salary = 0.00)
result_proxy = connection.execute(stmt)
print(result_proxy.rowcount)

In [ ]:
# Correlated Updates
new_salary = select([employees.columns.salary])
new_salary = new_salary.order_by(desc(employees.columns.salary))
new_salary = new_salary.limit(1)
stmt = update(employees)
stmt = stmt.values(salary = new_salary)
result_proxy = connection.execute(stmt)

In [ ]:
# Removing Data From a Database
from sqlalchemy import delete
stmt = select([ func.count(extra_employees.columns.id)])
connection.execute(stmt).scalar()                               # check counts before delete!!!

delete_stmt = delete(extra_employees)                               # All data
stmt_delete = delete(employees).where(employees.columns.id == 3)    # Selected data

result_proxy = connection.execute(delete_stmt)                  # delete rows
result_proxy.rowcount

In [ ]:
# Dropping table
extra_employees.drop(engine)          # Drop one table
metadata.drop_all(engine)             # Drop all tables

In [ ]:
print(state_fact.exists(engine))      # Check to see if state_fact exists

In [ ]:
# Determine average age for Males and Females
from sqlalchemy import select
stmt = select([census.columns.sex,
               (func.sum(census.columns.pop2008 *
                         census.columns.age) /
                func.sum(census.columns.pop2008)
               ).label('average_age')])
stmt = group_by(census.columns.sex)
results = connection.execute(stmt).fetchall()

In [ ]:
# Determine the percentage of Females for each state
from sqlalchemy import case, cast, Float
stmt = select([ func.sum(
    case([
        (census.columns.state == 'New York',
         census.columns.pop2008)
    ], else_ = 0)) /
               cast(func.sum(census.columns.pop2008),
                    Float) * 100).label('ny_percent')])

In [ ]:
# TOP 5 states by population change from 2000 to 2008
stmt = select([census.columns.age,
               (census.columns.pop2008 -
                census.columns.pop2000).label('pop_change')])
stmt = stmt.order_by(desc('pop_change'))
stmt = stmt.limit(5)

<a href="http://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.read_sql.html">Read_sql documentation</a><br>